.catalog {
  @include reset-list;
}

.catalog__item {
  position: relative;

  width: 100%;
  min-height: 500px;
  margin-bottom: $mobile-indent;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  transition: background-position 7s;

  &:hover,
  &:focus {
    background-position: center bottom;
    box-shadow: 0 0 10px 0 rgba($white, 0.5);
  }

  &--days {
    background-image: url("../img/bg-traveldays.jpg");
  }

  &--colors {
    background-image: url("../img/bg-colors.jpg");
  }

  &--travelly {
    background-image: url("../img/bg-travelly.jpg");
  }

  &--kvast {
    background-image: url("../img/bg-kvast.jpg");
  }

  &--calendar {
    background-image: url("../img/bg-calendar.jpg");
  }

  &--yoga {
    background-image: url("../img/bg-yoga@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-yoga@2x.jpg");
    }
  }

  &--artactive {
    background-image: url("../img/bg-artactive@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-artactive@2x.jpg");
    }
  }

  &--mishka {
    background-image: url("../img/bg-mishka@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-mishka@2x.jpg");
    }
  }

  &--blueasy {
    background-image: url("../img/bg-blueasy@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-blueasy@2x.jpg");
    }
  }
}

.catalog__btn {
  position: absolute;
  bottom: 0;
  z-index: 1;

  width: 100%;
  padding: 10px 5px;

  font: inherit;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 3px;

  background-color: $black;
  border: 2px solid $white;
  cursor: pointer;
}

.catalog__info-wrapper {
  display: none;
  min-height: 500px;
  padding: 15px 15px 45px;

  background-color: rgba($black, 0.8);

  &--open {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.catalog__name {
  margin: 0 auto $mobile-indent;

  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.catalog__info,
.catalog__tech,
.catalog__browsers {
  width: 100%;
  margin: 0 0 $mobile-indent;
}

.catalog__link {
  flex-grow: 1;
  width: auto;
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    flex-basis: 45%;
    margin-bottom: $tablet-indent;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    flex-basis: 30%;
  }
}
