.last-works__title {
  margin-bottom: $mobile-indent;
}

.last-works__link {
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (min-width: $tablet-width) {
  .last-works__title {
    margin-bottom: $tablet-indent;
  }
}
